.main-banner{
    min-height: 100vh;
}

.main-banner .banner-image{
    height: calc(100vh - 110px);
}

.main-banner-info{
    text-align: left;
}

.main-banner-info h4{
    font-size: 1.375em;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 0 0 11px 0;
}
.main-banner-info h3{
    font-size: 2.25em;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 0 0 22px 0;
}
.main-banner-info h5{
    color: #b7b9bd;
    font-size: 1.125em;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 0 46px 0;
}

.main-banner .sponsor-slider{
    min-height: 110px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.main-banner .sponsor-slider .uk-slider ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner .sponsor-slider .uk-slider ul li > img{
    width: 50%;
}