.most-popular ul li{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    align-items: center;
    -webkit-align-items: center;
}

.most-popular ul li .details {
    width: 220px;
}

.most-popular ul li a.right {
    margin-left: auto;
}